@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Lora:wght@400;500;600;700&display=swap');

@font-face { 
  font-family: 'Womack';
  src: url('../fonts/Womack.ttf') format('truetype');
  }

$primary-color: #0c6ee1;
$secondary-color: #f0f0f0;
$secondary-color-black: #1a1b1f;
$complementary-color-pink: #e10cd8;
$complementary-color-neon: #0ce114;
$complementary-color-mustard: #e17f0c;


*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1vw;
  color: $secondary-color-black;
}

body {
  font-size: 1vw;
  color: $secondary-color-black;
  font-family: 'Lato', sans-serif;
}

.heading1 {
  position: absolute;
  font-family: 'Womack', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28.084375em;
  line-height: 0.8;
  color: $primary-color;
  z-index: 1;
}

.heading1 .word {
  display: inline-block;
  font-size: 1em;
  color: $primary-color;
}

.heading1.food {
  color:$complementary-color-pink;
  z-index: 1;
}

.heading1.library {
  color:$complementary-color-mustard;
  z-index: 1;
}

.heading1.music {
  color:$complementary-color-neon;
  z-index: 1;
}

.heading1.event {
  color:$primary-color;
  z-index: 1;
}

.heading4 {
  margin-top: 10px;
  position: absolute;
  right: 8%;
  font-size: 11.0625em;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
  color: $secondary-color;

}

.heading5 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: $secondary-color;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-size: 6.8125em;
  line-height: 0.8;
}

.heading5.about {
  position: absolute;
  right: 20%;
  bottom: 10%;
  width: 6.8125em;
}

h4 {
  margin-bottom: 120px;
  font-size: 11.0625em;
  line-height: 0.8;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  color: $secondary-color;
}

h5 {
  font-size: 4.25em;
  line-height: 0.8;
  color: $secondary-color;
}


h6 {
  font-size: 2.625em;
  font-weight: normal;
  line-height: 0.8;
  color: $secondary-color;
}

p {
  margin-top: 200px;
  margin-left: 250px;
  width: 17em;
  color: $secondary-color;
  font-size: 1.25em;
}

a {
  cursor: pointer;
}

p.about {

  width: 20em;
  position: absolute;
  left: 12%;
  bottom: -10%;
}

.navbar-nav {
  position: absolute;
  top: -100%;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary-color;
  z-index: 9999;
}


#content {
  max-width: 1300px;
}


nav {
  width: 100%;
  .menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: 4.25em;
    text-decoration: none;
    font-family: 'Lora', serif;
    color: $secondary-color-black;

  }

  .white {
    color: $secondary-color;
    
    }
  
}

.hero-image.left {
  margin-left: 250px;
  width: 19.6875em;
  max-width: 100%;

}

.info-wrapper {
  padding-top: 35em;

}


.divider {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $secondary-color;

}

.divider.top {
  border-top: 2px solid $secondary-color;
}

.hero-image.right {
  width: 39.75em;
}

.content-image.right {
  margin-right: 100px;
}
.image-wrapper {
  margin-top: 400px;
}


.contain-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.contain-wrapper.home {
  height: 80vh;
}

.contain-wrapper.foods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}


#video {
  position: relative;
  margin-top: 30px;
  width: 53.75em;
  height: 34.375em;
}


.social-media {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  
a {
text-decoration: none;
font-family: "lato", Arial, Helvetica, sans-serif;
font-size: 1.625em;
font-weight: normal;
}
}

a.white {
  color: $secondary-color;
}

footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;

}

.footer.black {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $secondary-color-black;
}

#home-wrapper {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.main-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
}

.food-container {
  max-width: 100%;
  background-color: $complementary-color-pink;

}

.library-container {
  max-width: 100%;
  background-color: $complementary-color-mustard;

}

.music-container {
  max-width: 100%;
  background-color: $complementary-color-neon;
}

.event-container {
  max-width: 100%;
  background-color: $primary-color;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a{
    text-decoration: none;
    font-size: 4.25em;
    font-family: 'lora', Georgia, 'Times New Roman', Times, serif;
    color: $secondary-color;
  }
}

.icon-wrapper {
  position: absolute;
  right: 5%;
  top: 10%;
  text-decoration: none;

  .icon-top {
    width: 50px;
    height: 2px;
    background-color: $secondary-color;
    margin-bottom: 8px;
  }

  .icon-bottom {
    width: 50px;
    height: 2px;
    background-color: $secondary-color;
  }
}

.menu-link-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;

  .list-item.first{
    overflow: hidden;
    margin-top: 5%;
  }

  .list-item.second {
    overflow: hidden;
    margin-top: 15%;
  }
  
  .list-item.third {
    overflow: hidden;
    margin-top: 25%;
  }
  
  .list-item.forth {
    overflow: hidden;
    margin-top: 35%;
  }

  a {
    text-decoration: none;
    color: $secondary-color;
    font-size: 1.625em;
    font-family: 'lora', Georgia, 'Times New Roman', Times, serif;
  }

}

.menu-heading {
    position: absolute;
    font-family: 'Womack', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 0.7;
    opacity: 0.6;
    top: 20%;
    right: -50%;
    color: $secondary-color;
    font-size: 17.9375em;
}





