@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Lora:wght@400;500;600;700&display=swap');

@font-face { 
  font-family: 'Womack';
  src: url('../fonts/Womack.ttf') format('truetype');
  }

$primary-color: #0c6ee1;
$secondary-color: #f0f0f0;
$secondary-color-black: #1a1b1f;
$complementary-color-pink: #e10cd8;
$complementary-color-neon: #0ce114;
$complementary-color-mustard: #e17f0c;


*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1vw;
  color: $secondary-color-black;
}

body {
  font-size: 1vw;
  color: $secondary-color-black;
  font-family: 'Lato', sans-serif;
}

#content {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}


nav {
  width: 100%;
  .menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: 4.25em;
    text-decoration: none;
    font-family: 'Lora', serif;
    color: $secondary-color-black;

  }
}

.contain-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.contain-wrapper.home {
  height: 80vh;
}

.heading1 {
  position: absolute;
  font-family: 'Womack', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 28.084375em;
  line-height: 0.8;
  color: $primary-color;
  z-index: 1;
}

#video {
  position: relative;
  margin-top: 30px;
  width: 53.75em;
  height: 34.375em;
}

footer {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;

a {
text-decoration: none;
font-family: "lato", Arial, Helvetica, sans-serif;
font-size: 1.625em;
font-weight: normal;
}
}



